<footer>
    <div class="footer">
        <div class="adresse">
                <span>Gironde Énergies</span>
                <div class="trait-union">
                    <span>-</span>
                </div>
                <span>12, rue du Cardinal Richaud</span>
                <div class="trait-union">
                    <span>-</span>
                </div>
                <span>33300 BORDEAUX</span>
        </div>
            <div class="phone">
                <div class="icon-phone">
                    <img src="{{asset('image/telephone.png')}}" alt="image d'un téléphone qui sonne du site flaticon.com">
                </div>
                <div class="number">
                    <p>: 05 56 16 10 70</p>
                </div>
                <div class='trait-union'>
                    <span>-</span>
                </div>
                <div class="mail">
                <a href="mailto: contact@gironde-energies.fr">contact@gironde-energies.fr</a>
                </div>
                <div class="trait-union">
                    <span>-</span>
                </div>
                <div class="reseau-social">
                    <a  href="https://www.linkedin.com/in/sem-gironde-energies-9785961b7/"><img class="icon-lkd" src="{{asset('image/icone-linkedin.png')}}" alt="icone linkedin par icons8.fr"></a>
                </div>
            </div>
        <div class="legalite">
            <div class="mention">
                <a  class="link" href="#">Mentions légales</a>
            </div>
            <div class="trait-union">
                <span>-</span>
            </div>
            <div class="condition">
                <a class="link" href="#">Conditions générales</a>
            </div>
            <div class="trait-union">
                <span>-</span>
            </div>
            <div class="accessibilite">
                <a class="link" href="#">Accessiblité</a>
            </div> 
            <div class="trait-union">
                <span>-</span>
            </div>
            <div class="update">
                <p>date de mise à jour :</p>
            </div>
        </div>   
    </div> 
</footer>