<footer>
    <div class="footer">
        <div class="adresse">
            <adress>
                <p>Gironde Énergies</p>
                <p>12, rue du Cardinal Richaud</p>
                <p>33300 BORDEAUX</p>
            </adress>
            <p>tel: 05 56 16 10 70</p>
        </div>
        <div class="part2">
            <div class="mail">
                <a href="mailto: contact@gironde-energies.fr">contact@gironde-energies.fr</a>
            </div>
            <div class="reseau-social">
                <p> Vous pouvez nous retrouver sur <a href=""><img></a></p>
            </div>
        </div>
    </div>
    <div class="legalite">
            <div class="mention">
                <a href="#">Mentions légales</a>
            </div>
            <div class="trait-union">
                <span>-</span>
            </div>
            <div class="condition">
                <a href="#">Conditions générales</a>
            </div>
            <div class="trait-union">
                <span>-</span>
            </div>
            <div class="accessibilite">
                <a href="#">Accessiblité</a>
            </div>
        </div>
</footer>