<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="logo">
        <a href="" class="navbar-brand">
           <img src="public/image/logo-gironde-energies.png" alt=" logo de gironde énergies">
        </a>
    </div>
    <div class="container-fluid">  
        <ul class="navbar-nav">
            <li><a href>Présentation</a>
                <ul>
                    <li><a href>Qui sommes-nous ?</a></li>
                    <li><a href> Le conseil d'Administration</a></li>
                    <li><a href> L'organigramme</a></li>
                    <li><a href> Filiales et Participation</a></li>
                    <li><a href> Rapports d'activité</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href ="" class="nav-link active">Actualités</a></li>
            <li class="nav-item dropdown"><a href="" class="nav-link dropdown-toggle">Activités</a>
                <ul class="dropdown-menu">
                    <li><a href="" class="dropdown-item">Photovoltaïques</a>
                        <ul class="dropdown-menu">
                            <li><a href="" class="dropdown-item"> Parc au sol</a></li>
                             <li><a href="" class="dropdown-item"> Ombrières et Toitures</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="dropdown-item">Méthanisation</a></li>
                    <li><a href="" class="dropdown-item">Bio GNV</a></li>
                    <li><a href="" class="dropdown-item">Carte</a></li>
                
                </ul>
            </li>
            <li class="nav-item"><a href="" class="nav-link active">Votre projet</a></li>
            <li class="nav-item"><a href="" class="nav-link active"> Contact</a></li>
        </ul>
    </div>
    <div class="trait">
        <span></span>
    </div>
  </div>