<nav class ="navbar navbar-expand-lg">
    <div class="container col-12">
            <div class="logo row-col-2">
                <div class="logo-card">
                <a href= "">
                    <img  src="{{asset('image/logo-gironde-energies.jpg')}}" alt="logo de la SEM Gironde Energies">
                </a>
                </div>
            </div>
                <div class=" row col-10 menu-main">
                    <ul class="menu">
                        <li class="menu-item"><a href ="#"> Présentation</a>
                            <ul class="menu-presentation">
                                <li ><a class="menu-dropdown" href ="{{path('app_about')}}">Qui sommes-nous ?</a></li>
                                <li ><a class="menu-dropdown" href ="#">Le conseil d'Administration</a></li>
                                <li ><a class="menu-dropdown" href ="#"> l'Organigramme</a></li>
                                <li ><a class="menu-dropdown" href ="#">Filiales et Participations</a></li>
                                <li ><a class="menu-dropdown" href ="#">Rapports d'activité</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#"> Actualités</a></li>
                        <li class="menu-item"><a href="#">Activités</a>
                            <ul class="menu-activites">
                                <li class="submenu" ><a class="menu-dropdown submenu-link" href="#">Photovoltaïques</a>
                                    <ul class="menu-photovoltaiques">
                                        <li class="submenu-photovoltaique"><a class="submenu-item" href="#"> Parc au sol</a></li>
                                        <li class="submenu-photovoltaique"><a class="submenu-item" href="#"> Ombrières et Toitures</a></li>
                                    </ul>
                                </li>
                                <li ><a class="menu-dropdown" href="#">Méthanisation</a></li>
                                <li ><a class="menu-dropdown" href="#">Bio GNV</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href>Votre projet</a></li>
                        <li class="menu-item"><a href>Contact</a></li>
                        <li class="menu-item"><a href>Administration</a></li>
                    </ul>
                </div>    
        
        {# <div class="trait"> #}
        {# </div> #}
    </div>
</nav>