{% extends 'base.html.twig' %}

{% block title %}Modifier une Actualité{% endblock %}

{% block body %}
    <h1>Modifier une Actualité</h1>

    {{ include('actualite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_actualite_index') }}">revenir à la liste</a>

    {{ include('actualite/_delete_form.html.twig') }}
{% endblock %}
