@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    --text-color:#3f4f59;
}

/* GENERAL*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
html, body{
    height:100%;
    /* position:relative; */
}

img{
    max-width:100%;
    height:auto;
}
 
a{
    text-decoration:none;
    color:var(--text-color); 
}
a:hover{
    color:var(--text-color)
}
li{
    list-style-type: none;
   
}
/*FIN GENERAL*/
/* HEADER*/

.content{
   display:flex;
   justify-content: space-between;    
}
.logo{
    max-width: 200px;
}
.logo-card{
    width:100%;
    position:relative;
    top:0px;
    left:-85px;
}
.menu{
    font-family:'Poppins';
    font-size:1.2em; 
    display: flex;
    justify-content: space-around;
    position:relative;
    top:0px;       
}

.menu-item{
    padding:20px;
  
}
.submenu-item{
    padding-bottom: 20px;
}
.menu-dropdown,.submenu-item{
  font-weight: normal;
  padding-right: 15px;
   font-size:1em; 
}
.menu-presentation,.menu-activites,.menu-photovoltaiques, .menu-administration{
     display:none;  
     text-align:center;
}

.menu li:hover .menu-presentation,.menu li:hover .menu-activites,.menu-activites li:hover .menu-photovoltaiques, .menu li:hover .menu-administration
{
    display:block;
    background:#fff;
    color:#3f4f59;
    padding:5px; 
}

.menu li:hover .menu-presentation{
    width:320px;    
}
.menu li:hover .menu-activites{
    width:220px;    
}
.menu-activites li:hover .menu-photovoltaiques{
    width:300px;
    height:100px;  
}
.menu-presentation{
    position:absolute;
    top:60px;
    left:-35px;
    
}
.menu-activites{
    position:absolute;
    top:60px;
    left:350px;
    width:100px;
}
.menu-photovoltaiques{
    position:absolute;
    top:0px;
    left:180px;
    
}
.menu-administration{
    position:absolute;
    top:50px;
    left:870px;
    z-index:99;
  
}
.submenu-photovoltaique{
    padding-bottom: 15px;
}
li.menu-dropdown,li .submenu-item{
    display:block;
}
li .menu-dropdown:hover, li .submenu-item:hover{
    background-color: #f9c12e;
    color:#3f4f59;
}

/*pour avoir le soulignement sous les sous-menu*/
 /* li .menu-dropdown::after,li .menu-photovoltaiques::after{
    content:"";
    display:block;
    position:relative;
    line-height: 5px;
    margin:0 auto;
    height:2px;
    width:0%;
    transition: width 0.2s ease-in-out;
 }

 li .menu-dropdown:hover::after, li .menu-photovoltaiques:hover::after{
    width:100%;
    background: linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
   
 } */


.trait{
    border-top:3px solid black;
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
    width:100%;
    position:absolute;
    top:100px;
    left:250px;
}
/* FIN HEADER*/
/*BODY DE L'ACCUEIL*/

/* pour avoir le footer bien en bas de la page*/
.content{
    flex-grow:1;
}
/*image du carousel*/
.c-item{
    height: 800px;
}
.img-carousel{
    height: 75%;
    object-fit: cover;

}
/*FIN BODY DE L'ACCUEIL*/

/* PRESENTATION*/
.title{
    text-align: center;
    margin: 50px 0px;
}
.contenu{
   margin: 50px;
}
.about-card{
   display:flex;
   justify-content: space-around;
}
.photo{
max-width:500px;
/* display:inline-block;
vertical-align: top; */
}
.photo-sdeeg{
    width:100%;
}
.paragraph{
    display:inline-block;
    margin-top:25px;
    margin-left:120px; 
    text-align: justify;
    width:100vw; 
}
 
/*FIN PRESENTATION*/

/*les actualités (les 2 actualités dans la page d'accueil*/

.actualite{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-actu{
    width:450px;
    text-align: justify;
   
}
.photo{
    text-align: center;
}
.card-photo{
    width:70%;  
}
.card-body{
    padding-top: 30px;
}
.card-body h3,.card-body p,.btn-suite{
    padding-top:15px;
}
.card-body p{
    font-size: 1.2em;
}

.btn-suite{
    border-radius: 5px;
    font-size:1.4em;
    padding:5px;
    background: #ef8031;
    border:none;
    color:white;
    font-weight: bold;
    float:right;
}

/*mise en place de la video*/

.video{
    margin:150px 0;
    text-align: center;
}

/*FIN BODY DE L'ACCUEIL*/
/* QUI SOMMES-NOUS */

.history{
    max-width:550px;
}
.photo{
width:100%;
   position:relative;
   top:15px;
   left:100px;
}

/*FIN QUI SOMMES-NOUS*/

/*CONTACT*/
.titre-contact{
    text-align:start;
    margin: 30px 0 15px 0;
}
.titre-contact,.coordonnées,.trait-adresse,.trait-contact{
    position: relative;
    top:0px;
    left:200px;
}
.horaires, .titre-coordonnées,.titre-contact{
    font-size:1.1em;
    font-weight: 600;
    color:var(--text-color);
}
.trait-adresse{
    border-top:2px solid black;
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
    width:165px;
    height: 20px;
}
.trait-horaire{
    border-top:2px solid black;
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
    width:120px;
    height: 20px; 
}
span{
    color:var(--text-color);
}
.menu-coordonnées{
    margin-bottom:30px;
}
.adresse,.phone-contact{
    margin-bottom:20px;
}
.phone-contact{
    display:flex;
}
.icon-phone{
    margin-right: 5px;
}
.adresse-mail{
    text-decoration: underline;
}
.adresse-mail:hover{
    color:#3f4f59;
    font-weight: bold;
}

.icon-lkd-contact{
  width:40px;
  margin:30px 0;
}
.carte{
    max-width:400px;
    position:relative;
    left:400px;
    top:0px;
    filter:brightness(90%);
   
}
.google-map{
    width:100%;
}
.trait-contact{
    border-top:2px solid black;
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
    width:145px;
    height: 20px; 
}
.formulaire{
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
}

.button{
    width:100px;
    margin:auto;
}
.btn-submit{
    border:1px solid #f9c12e;
    background-color: #f9c12e;
    color:#3f4f59;
    font-weight:400;
    border-radius: 5px;
    margin: 50px 0; 
   
}
.btn-submit:hover{
    background-color: #f49634;
    color:white;
}

/*CSS POUR LE POP-UP*/

.overlay{
    position:fixed;
    left:0px;
    top:0px;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    height:100%; 
    z-index:99;
    display:none;  
}

.popup{
    margin:20% auto;
    width:28%;
    background-color: #fff;
    border-radius:5px;
    box-shadow:5px 10px 0 rgba(0,0,0,0.5);
    padding:1em;
}
.btnClose{
    position:relative;
    left:150px;
    cursor:pointer;
    border:none;
}
.text{
    font-size: 1.1em;
    text-align: center;
}

/*FIN CONTACT*/
/*FOOTER*/
.footer{
    background: linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    font-size:1.2em;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Poppins';
    color:var(--text-color);
}
.adresse{
    text-align:left;
   font-weight: bold;
}
.legalite{
    display:flex;
    justify-content: center;
    padding-top:150px;
   
}
.phone{
    display:flex;
    justify-content: flex-start;
}
.icon-phone{
    max-width: 25px;
}
.number{
    margin-left:5px;
}
.mention,.condition,.accessibilite
{
    margin-right:25px;
}

.trait-union
{
    margin-right:15px;
}
.icon-lkd{
    vertical-align: middle;
}

/*FIN FOOTER*/