@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    --text-color:#3f4f59;
}

/* GENERAL*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    max-width:100%;
    height:auto;
}
 
a{
    text-decoration:none;
    color: var(--text-color);
    font-weight: bold;
  
}
li{
    list-style-type: none;
}
/*FIN GENERAL*/
/* HEADER*/

.content{
   display:flex;
   justify-content: space-between;    
}
.logo{
    max-width: 200px;
}
.logo-card{
    width:100%;
    margin-left:10px;
}
.menu{
    font-family:'Poppins';
    font-size:1.2em; 
    display: flex;
    justify-content: space-around;
    position:relative;
    top:-25px;
    right:100px        
}

.menu-item{
    padding:50px;
  
}
.menu-dropdown,.submenu-item{
  font-weight: normal;
  padding-right: 25px;
  font-size:0.8em;
  /* display:none;  */
}


.trait{
    border-top:3px solid black;
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
    width:100%;
    position:absolute;
    top:85px;
    left:220px;
}
/* FIN HEADER*/
/*FOOTER*/
.footer{
    background-color: linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer,.legalite{
    font-size:1.5em;
    display:flex;
    justify-content: space-between;
}
.legalite{
    font-size:1.5em;
    display:flex;
    justify-content: center;
   
}
.mention,.condition,.accessibilite
{
    margin-right:25px;
}
.trait-union
{
    margin-right:15px;
}
/*FIN FOOTER*/