@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root{
    --text-color:#3f4f59;
}

/* GENERAL*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    height:100%;
    /* position:relative; */
}

img{
    max-width:100%;
    height:auto;
}
 
a{
    text-decoration:none;
    background: #ef8031;
    color: white; 
}
a:hover{
    background:#f9c12e;
}
li{
    list-style-type: none;
   
}
/*FIN GENERAL*/
/* HEADER*/

.content{
   display:flex;
   justify-content: space-between;    
}
.logo{
    max-width: 220px;
}
.logo-card{
    width:100%;
    position:relative;
    top:0px;
    left:-305px;
}
.menu{
    font-family:'Poppins';
    font-size:1.4em; 
    display: flex;
    justify-content: space-around;
    position:relative;
    top:-25px;
    right:100px;  
    z-index:99;      
}

.menu-item{
    padding:40px;
  
}
.submenu-item{
    padding-bottom: 20px;
}
.menu-dropdown,.submenu-item{
  font-weight: normal;
  padding-right: 15px;
   font-size:1em; 
}
.menu-presentation,.menu-activites,.menu-photovoltaiques{
     display:none;  
     text-align:center;
}

.menu li:hover .menu-presentation,.menu li:hover .menu-activites,.menu-activites li:hover .menu-photovoltaiques
{
    display:block;
    background: white ;
    padding:5px; 
}

.menu li:hover .menu-presentation{
    width:320px;    
}
.menu li:hover .menu-activites{
    width:220px;    
}
.menu-activites li:hover .menu-photovoltaiques{
    width:300px;
    height:100px;  
}
.menu-presentation{
    position:absolute;
    top:80px;
    left:-15px;
    
}
.menu-activites{
    position:absolute;
    top:80px;
    left:430px;
    width:100px;
}
.menu-photovoltaiques{
    position:absolute;
    top:0px;
    left:220px;
    
}
.submenu-photovoltaique{
    padding-bottom: 15px;
}

/*pour avoir le soulignement sous les sous-menu*/
 li .menu-dropdown::after,li .menu-photovoltaiques::after{
    content:"";
    display:block;
    position:relative;
    line-height: 5px;
    margin:0 auto;
    height:2px;
    width:0%;
    transition: width 0.2s ease-in-out;
 }

 li .menu-dropdown:hover::after, li .menu-photovoltaiques:hover::after{
    width:100%;
    background: linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
   
 }


.trait{
    border-top:3px solid black;
    border-image:linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    border-image-slice:5;
    width:100%;
    position:absolute;
    top:100px;
    left:250px;
}
/* FIN HEADER*/
/*BODY DE L'ACCUEIL*/

/* pour avoir le footer bien en bas de la page*/
.content{
    flex-grow:1;
}
/*image du carousel*/
.c-item{
    height: 800px;
}
.img-carousel{
    height: 75%;
    object-fit: cover;

}

/*les actualités*/

.actualite{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-actu{
    width:450px;
    text-align: justify;
   
}
.photo{
    text-align: center;
}
.card-photo{
    width:70%;  
}
.card-body{
    padding-top: 30px;
}
.card-body h3,.card-body p,.btn-suite{
    padding-top:15px;
}
.card-body p{
    font-size: 1.2em;
}

.btn-suite{
    border-radius: 5px;
    font-size:1.4em;
    padding:5px;
    background: #ef8031;
    border:none;
    color:white;
    font-weight: bold;
    float:right;
}

/*mise en place de la video*/

.video{
    margin:150px 0;
    text-align: center;
}

/*FIN BODY DE L'ACCUEIL*/
/* QUI SOMMES-NOUS */

.history{
    max-width:550px;
}
.photo{
width:100%;
   position:relative;
   top:15px;
   left:100px;
}

/*FIN QUI SOMMES-NOUS*/
/*FOOTER*/
.footer{
    background: linear-gradient(to right, #ef8031,#f49634,#f9ae2f,#fcd726,#feed17);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer{
    font-size:1.2em;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Poppins';
    color:var(--text-color);
}
.adresse{
    text-align:center;
}
.legalite{
    display:flex;
    justify-content: center;
    padding-top:80px;
   
}
.phone{
    display:flex;
    justify-content: center;
}
.icon-phone{
    max-width: 25px;
}
.number{
    margin-left:5px;
}
.mention,.condition,.accessibilite
{
    margin-right:25px;
}

.trait-union
{
    margin-right:15px;
}
.icon-lkd{
    vertical-align: middle;
}

/*FIN FOOTER*/