<form method="post" action="{{ path('app_actionnaire_delete', {'id': actionnaire.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet Actionnaire?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actionnaire.id) }}">
    <button class="btn btn-delete">Supprimer</button>
</form>
