 {% extends 'base.html.twig' %}

  {% block title %}Qui sommes-nous ? {% endblock %}

  {% block body %}
  <div class="container">
    <div class="title">
        <h1> Qui sommes-nous ? </h1>
    </div>
    <div class="contenu">
        <div class="about-card">
            <div class="photo">
                <img  class=" photo-sdeeg" src="{{asset('image/photo-sdeeg.png')}}">        
            </div>
            <div class="paragraph">
                <p>Entrer dans une démarche de transition, voire de révolution énergétique, nécessite aujourd'hui de s'engager pleinement dans la production d'énergies renouvelables de manière délocalisée sur les territoires.

                    Créée à l’initiative du Syndicat Départemental Énergies et Environnement de la Gironde (SDEEG) en 2019, la Société d’Economie Mixte (SEM) Gironde Energies est dédiée au développement et à la réalisation de projets de production d’énergies renouvelables en mobilisant les ressources locales au bénéfice des territoires.

                    Les actionnaires de la SEM Gironde Energies sont le SDEEG (60%), la Banque des Territoires-Caisse des Dépôts (20%), Arkea Crédit Mutuel (7%), la Caisse d’Epargne (7%), le Crédit Agricole (7%).

                    Forte d’un savoir-faire en matière de réalisation de centrales photovoltaïques sur toiture, en ombrière, elle met à disposition toutes ses compétences auprès des collectivités locales.

                    GIRONDE ENERGIES développe également des projets structurants tels que des parcs photovoltaïques, des unités de méthanisation ou encore des stations BIO GNV (Gaz Naturel pour véhicules).
                </p>
            </div>
        </div>
    </div>
  </div>
 
  {% endblock %}