{% extends 'base.html.twig' %}

{% block title %}Edit Precommande{% endblock %}

{% block body %}
    <h1>Edit Precommande</h1>

    {{ include('projet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_projet_index') }}">back to list</a>

    {{ include('projet/_delete_form.html.twig') }}
{% endblock %}
