{% extends 'base.html.twig' %}

{% block title %}Gironde Énergies{% endblock %}

{% block body %}
<div class="content">
    <div>
        <div  class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{asset('image/Rauzan-drone.jpg')}}" class="d-block w-100" alt="parc photovoltaïque" >
                </div>
                <div class="carousel-item">
                    <img src="{{asset('image/villegouge-drone.jpg')}}" class="d-block w-100" alt="panneaux photovoltaïques au-dessus d'un boulodrome" >
                </div>
                <div class="carousel-item">
                    <img src="{{asset('image/marcheprime-drone.jpg')}}" class="d-block w-100" alt="ombrières de parking" >
                </div>
            </div>
        </div>
    <div>
</div>    
{% endblock %}
