{% extends "base.html.twig" %}
{% block title %} carte détaillée
    
{% endblock %}

{% block body %}

<div class="carte-titre">
    <h3>Carte détaillée</h3>
    <div class="carte-trait"></div>
</div>
<div class="carte-detail">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Crg9RwqRuKFu7iaAzXUIPskzqxNGrYg&ehbc=2E312F" width="700" height="540"></iframe>
</div>
    
{% endblock %}