{% extends 'base.html.twig' %}

{% block title %}Nouvelle activité{% endblock %}

{% block body %}
    <h1>Créer une nouvelle activité</h1>

    {{ include('activite/_form.html.twig') }}

    <a href="{{ path('app_activite_index') }}">revenir à la liste</a>
{% endblock %}
