{% extends 'base.html.twig' %}

{% block title %}Edit TypeActivite{% endblock %}

{% block body %}
    <h1>Edit TypeActivite</h1>

    {{ include('type_activite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_type_activite_index') }}">back to list</a>

    {{ include('type_activite/_delete_form.html.twig') }}
{% endblock %}
