{% extends "base.html.twig" %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div>
    <h2>Nos coordonnées</h2>

<adress>
Gironde Énergies
12, rue du Cardinal Richaud
33300 Bordeaux
</adress>
<div class="phone-icon">
    <img src="{{asset('image/telephone.png')}}">
</div>
<div>
    <span>05 56 16 10 70</span>
</div>
<div>
    <a href="mailto:contact@gironde-energies.fr" alt="adresse mail"> contact@gironde-energies.fr</a>
</div>

    </div>
{% endblock %}