{% extends 'base.html.twig' %}

{% block title %}Nouvelle Filiale{% endblock %}

{% block body %}
    <h1>Créer une nouvelle filiale</h1>

    {{ include('filiale/_form.html.twig') }}

    <a href="{{ path('app_filiale_index') }}">revenir à la liste</a>
{% endblock %}
