{% extends 'base.html.twig' %}

{% block title %}Edit RapportActivite{% endblock %}

{% block body %}
    <h1>Edit RapportActivite</h1>

    {{ include('rapport_activite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rapport_activite_index') }}">back to list</a>

    {{ include('rapport_activite/_delete_form.html.twig') }}
{% endblock %}
