{% extends 'base.html.twig' %}

{% block title %}New RapportActivite{% endblock %}

{% block body %}
    <h1>Create new RapportActivite</h1>

    {{ include('rapport_activite/_form.html.twig') }}

    <a href="{{ path('app_rapport_activite_index') }}">back to list</a>
{% endblock %}
